include mixins/util

doctype html
html(lang="cs")
  head
    meta(charset='UTF-8')/
    meta(http-equiv='X-UA-Compatible', content="IE=edge")/
    meta(name="viewport", content="width=device-width, initial-scale=1.0")/
    title My Site - #{title}
    link(href="./styles/style.css", rel="stylesheet")
  body.bg-slate-400
    main.grid.place-items-center.min-h-screen
      block content 
    block foot
    
    block scripts
      script(src="/js/utils.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js")