extends layout.pug

block append scripts

block content
  form.grid.gap-5(action='/login' method='post' )
    input.input(type='text' placeholder='Email' name='email')
    input.input(type='password' placeholder='Password' name='password')
    button.btn(type="submit") LOGIN

block foot
